<!DOCTYPE html>
<html>
<head>
    <title>Band Website</title>
</head>
<body>
    <h1>Welcome To Our Band Website!</h1>
    <p>Explore our lastest albums and upcoming events.</P>
    <p>Worldwide SuperStars</p>
    <h1>About Us</h1>
    <p>We are called the Death Monkeys. We a band of 4 members and super thrilled to do more. Building a fan base and a family is what we really here for. Down below you can see our album hits and our upcoming tours.</p>
    <p><a href="{% url 'albums' %}">View Albums</a></p>
    <p><a href="{% url 'events' %}">View Events</a></p>
</body>
</html>